@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #a0aa60;
    font-family:'Quicksand', sans-serif; ;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.box{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: beige;
    margin: 10px;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
    transform: translateX(400%);
}

.box:nth-of-type(even){
    transform: translateX(-400%);
}

.box.show{
    transform: translateX(0);
}